{% extends 'base.html' %}

{% block start %}<html lang="en"> {% endblock %}

{% block head %}

<title>Home page</title>

{% endblock %}

{% block body %}
<br>
<h1>Home Page 3</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sollicitudin purus. Nam ornare vulputate risus vel cursus. Curabitur nisi elit, hendrerit maximus tincidunt sit amet, convallis iaculis leo. Maecenas iaculis, libero non imperdiet blandit, elit nulla elementum felis, id fringilla dolor erat in mauris. Suspendisse potenti. Sed vitae est sit amet nunc dictum faucibus nec non ante. Sed congue turpis ut fermentum iaculis. Ut varius dui eros, quis dapibus est rutrum eget. Nulla at nisi mollis ex consequat ornare hendrerit id ante. Ut eu porttitor elit. Sed vel dui dui. Sed luctus, ex vitae posuere pretium, dui enim elementum nunc, at porta turpis augue tempus eros. Donec rutrum ligula lorem, in semper diam euismod eu. Etiam justo nisi, venenatis a scelerisque vitae, ultrices in elit. </p>
            <p>Proin et felis dolor. Maecenas feugiat risus id quam viverra, et varius ligula ornare. Nulla sollicitudin nunc in efficitur venenatis. Donec viverra lorem ipsum, eu pharetra purus aliquam ac. Praesent aliquam consectetur urna, nec facilisis odio rhoncus ut. In quis felis dui. Integer euismod felis eu tincidunt tincidunt. Aenean cursus urna magna. Proin sed justo hendrerit, ultricies mauris non, rhoncus tortor. Nullam feugiat massa et vestibulum malesuada. Maecenas sit amet odio mauris. Integer ac leo dui. Nullam luctus enim nec tellus commodo congue. </p>
            <p>
               Proin lacinia egestas sapien, vel lacinia massa commodo placerat. Duis id placerat turpis. Phasellus scelerisque, nibh nec varius auctor, nisi mi fringilla risus, eu sodales odio purus sed justo. Vestibulum id orci at risus lobortis molestie. Phasellus vestibulum augue risus, et molestie ligula tristique in. Nulla risus massa, mollis ut eros ut, tristique vestibulum lorem. Aenean vehicula augue vehicula accumsan convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et tempor magna, vitae laoreet ex. Integer convallis erat non sem blandit efficitur. Quisque elementum varius tortor, non congue justo rhoncus in. Mauris nisl nunc, malesuada sit amet lorem id, luctus pellentesque lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vestibulum metus risus, ac tincidunt nisi vehicula id. Nunc et accumsan nisl, in mollis erat. Suspendisse vitae leo nec ante viverra commodo vitae ac orci. </a>
            </p>
        </div>
    </div>
</main>

{% endblock %}

<!-- Syntax for data is  -->