    {% extends 'base.html' %}

    {% block start %}<html lang="en"> {% endblock %}
    
    {% block head %} 
    <title>Posts</title> 
    {% endblock %}

    {% block body %} 
    
    <h1> All Posts</h1>
    <!-- For loops-->
    {% for post in posts %}
            <!-- Using dictionary entryes -->
            <!-- <name.key ==> value -->
            <h2> {{ post.title }} </h2>
            
            {% if post.author %}
                <h3>By: {{ post.author }}</h3>
            {% else %}
                <h3>By: John/Jane Doe</h3>
            {% endif %}

            <p> {{ post.content }}</p>
        
        {% endfor %}
    
    {% endblock %}